<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>
    <add connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=Pageflakes;Integrated Security=True;" name="PageflakesConnectionString" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <identity impersonate="false" />
    <anonymousIdentification enabled="true" />
    <!-- Active le Profile pour tous les utilisateurs -->
    <profile enabled="true" defaultProvider="AspNetSqlProfileProvider">
  <providers>
    <clear />
    <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="PageflakesConnectionString" applicationName="/Pageflakes" />
  </providers>
  <properties>
    <add name="StartupInfo" type="String" />
    <add name="Tabs" type="String" />
    <add name="Modules" type="String" />
    <add name="Layout" type="String" />
    <add name="UserGuidPageflakes" type="String" />
  </properties>
</profile>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <httpRuntime />
    <customErrors mode="Off" />
    <membership defaultProvider="AspNetSqlMembershipProvider">
  <providers>
    <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="PageflakesConnectionString" applicationName="/Pageflakes" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
  </providers>
</membership>
    <pages validateRequest="false" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <!-- Handler pour les JS -->
      <add name="ScriptAXD" path="f.axd" verb="*" type="ScriptAXD" resourceType="Unspecified" preCondition="integratedMode" />
      <!-- Handler pour les thèmes CSS -->
      <add name="ThemeAXD" path="p.axd" verb="*" type="ThemeAXD" resourceType="Unspecified" preCondition="integratedMode" />
      <!-- Handler pour les styles CSS -->
      <add name="StyleAXD" path="s.axd" verb="*" type="StyleAXD" resourceType="Unspecified" preCondition="integratedMode" />
      <remove name="WebServiceHandlerFactory-Integrated" />
      <add name="GetJSON" path="/Pageflakes/GetJSON.ashx" verb="*" type="GetJSON" resourceType="Unspecified" />
      <add name="WebServiceHandlerFactory-Integrated" path="*.asmx" verb="GET,HEAD,POST,DEBUG" type="System.Web.Script.Services.ScriptHandlerFactory" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <httpErrors errorMode="Detailed" />
  </system.webServer>
  <appSettings>
    <add key="PublicBaseUrl" value="http://Localhost/Pageflakes.com" />
    <add key="SiteVersion" value="1.0.0" />
    <add key="Environment" value="Production" />
    <!-- Version de l'application -->
    <add key="AppVersion" value="213" />
  </appSettings>
</configuration>